@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
.wrap > .cv-heading {
    padding: 20px !important;
    background: #fff;
    margin: 20px auto !important;
    font-size: 24px !important;
    line-height: 24px !important;
    font-family: 'Chonburi', cursive;
    box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px, rgb(9 30 66 / 31%) 0px 0px 1px;
}
.cv-wrapper {
    background: #fff;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 13px;
    max-width: 100%;
    min-width: 100%;
    padding: 0 0 20px 0;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    overflow: hidden;
}
.cv-wrapper.cv-tab-left {
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.cv-wrapper.cv-sections-1 {
    grid-template-columns: inherit;
}
.cv-navs-wrapper {
    z-index: 2;
    position: relative;
    background: 0 0;
    border-right: 0;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
}
.cv-tab-left .cv-navs-wrapper {
    margin-top: 18px;
}
.cv-navs-wrapper ul,
.cv-navs-wrapper ul li {
    margin: 0 !important;
    padding: 0 !important;
}
.cv-tab-top .cv-nav-tab {
    display: inline-block;
}
.cv-tab-top .cv-sections-wrapper {
    width: 100%;
    padding-top: 30px;
}
.cv-navs-wrapper ul li {
    background: 0 0;
    white-space: normal;
    list-style: none;
    width: 100 % !important;
}
.cv-navs-wrapper ul li:last-child {
    border-bottom: none;
}
.cv-navs-wrapper ul li a {
    display: block;
    margin: 0;
    padding: 15px 12px;
    text-decoration: none;
    color: #777;
    font-size: 12px;
    text-align: center;
}
.cv-field-wrap,
.cv-label-wrap {
    line-height: 1.3;
    display: inline-block;
}
.cv-navs-wrapper ul li a:focus {
    box-shadow: none;
}
.cv-sections-wrapper {
    position: relative;
    padding: 5px 16px;
    float: left;
    background: #fff;
    color: #444;
    border-left: none;
}
.cv-subheading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.cv-subheading-text {
    font-size: 1.3rem;
}
.cv-label-wrap {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 25%;
    font-weight: 400;
    font-size: 15px;
}
.cv-field-wrap {
    padding: 15px 10px;
    vertical-align: middle;
    width: 70% !important;
}
.cv-field-wrap.cv-field-wrap-nolabel {
    width: 100% !important;
}
.cv-desc {
    color: #a7a7a7;
    font-style: italic;
}
.cv-row {
    border-bottom: 1px solid #f5f5f5;
}
.cv-row:last-child {
    border-bottom: 0px solid #fff;
}
.cv-tabs {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.cv-tab {
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-right: 0px solid;
    color: #444;
    font-size: 15px;
    font-weight: 500;
    background: #eee;
}
.cv-tab:first-child {
    margin-left: 5px;
}
.cv-tab:last-child {
    border-right: 1px solid #ddd;
    margin-right: 5px;
}
.cv-tab.cv-tab-active {
    border-bottom: 0px;
    background: #fff;
    margin-bottom: -1px;
    cursor: default;
}
.cv-tab:hover:not(.cv-tab-active) {
    color: #fff;
    cursor: pointer;
}
.cv-nav-tab.cv-active-tab {
    background: #626262;
    border-right: none;
}
.cv-label-wrap label,
.cv-nav-tab.cv-active-tab a {
    color: #fff;
}
.cv-field-wrap .cv-field-email:not(.cv-field-group),
.cv-field-wrap .cv-field-number:not(.cv-field-group),
.cv-field-wrap .cv-field-password:not(.cv-field-group),
.cv-field-wrap .cv-field-select:not(.cv-field-group),
.cv-field-wrap .cv-field-text:not(.cv-field-group),
.cv-field-wrap .cv-field-textarea:not(.cv-field-group),
.cv-field-wrap .cv-field-url:not(.cv-field-group) {
    width: 100%;
    min-width: 100%;
}
select.cv-field-select:disabled {
    background-image: none;
}
.cv-field-wrap .cv-field-group {
    width: auto;
}
.cv-field-wrap .cv-field-file {
    width: 80%;
}
.cv-field-wrap p {
    margin: 0;
    font-family: inherit;
}
.cv-message {
    display: none;
    color: #000000;
    background-color: #d4edda;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    position: fixed;
    right: 100px;
    width: 200px;
    z-index: 99999;
    text-align: center;
    top: 200px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px, rgb(9 30 66 / 31%) 0px 0px 1px;
}
.cv-message img {
    max-height: 60px;
}
.cv-message p {
    margin: 0;
}
.chosen-container,
.select2-container {
    width: 100%;
}
.cv-nonsticky-controls {
    margin: 30px auto;
    text-align: center;
}
.cv-nonsticky-controls .button-hero {
    margin-right: 10px;
}
.cv-sticky-controls {
    width: 69%;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    text-align: right;
    border-top: 1px solid #ddd;
    padding: 25px 0;
}
.cv-subheading > .dashicons {
    color: #626262;
}
.cv-label-wrap label {
    color: #626262;
}
.cv-field-wrap .cv-field {
    background: #f9f9f9;
    border: 1px solid #ecebeb;
    padding: 5px 10px;
}
.cv-divider {
    text-align: center;
    border-bottom: 0px;
    border-top: 0px;
    font-size: 16px;
    padding-top: 10px;
}
.cv-divider > span {
    font-weight: 500;
}
.cv-sticky-controls .button-primary {
    background: #4caf50;
    border-color: #4caf50;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    padding: 8px 20px;
    border: 1px solid #57b95b;
}
.cv-sticky-controls .button-primary:active,
.cv-sticky-controls .button-primary:focus,
.cv-sticky-controls .button-primary:hover {
    background: #57b95b;
    border-color: #57b95b;
    border: 1px solid #57b95b;
    box-shadow: none;
}
.cv-sticky-controls .button.cv-reset-button {
    color: #b7b7b7;
    border-color: transparent !important;
    background: 0 0 !important;
    background-color: transparent !important;
    vertical-align: top;
    text-decoration: underline;
    padding-top: 8px;
    outline: 0;
}
.cv-sticky-controls .button.cv-reset-button::active,
.cv-sticky-controls .button.cv-reset-button::focus,
.cv-sticky-controls .button.cv-reset-button::hover {
    background: 0 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: none;
    box-shadow: none;
    outline: 0;
}
.cv-field-wrap input.button.cv-browse {
    line-height: 38px;
    float: right;
}
.cv-heading {
    padding-bottom: 20px !important;
}
.cv-repeatable {
    padding-bottom: 10px;
}
.cv-repeatable > * {
    margin-right: 10px;
}
.cv-toggle {
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
}
.cv-toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.cv-toggle-switch:before, .cv-toggle-switch:after {
  content: "";
}
.cv-toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.cv-toggle:hover .cv-toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.cv-toggle-checkbox:checked + .cv-toggle-switch {
  background: #56c080;
}
.cv-toggle-checkbox:checked + .cv-toggle-switch:before {
  left: 30px;
}
.cv-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.cv-toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.cv-row-tabs > .cv-field-wrap {
    padding-left: 0;
}
.cv-repeatable button {
    height: 32px;
    width: 32px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
}
.cv-repeater-remove {
    background: #d30b5c;
    border: 1px solid #d30b5c;
    color: #fff;
}
.cv-repeater-remove:hover {
    background: #fff;
    color: #d30b5c;
}
.cv-repeater-add {
    background: #4caf50;
    border: 1px solid #4caf50;
    color: #fff;
}
.cv-repeater-add:hover {
    background: #fff;
    color: #4caf50;
}
#cv-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff59;
    bottom: 0;
    right: 0;
    z-index: 9999;
}
#cv-overlay > img {
    position: fixed;
    left: calc(50% - 100px);
    top: 200px;
}
@media only screen and (max-width: 767px) {
    .cv-wrapper {
        grid-template-columns: inherit;
    }
    .cv-sections-wrapper {
        margin-left: 0;
    }
    .cv-label-wrap {
        width: 100%;
    }
    .cv-field-wrap {
        width: 100% !important;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .cv-field-wrap .cv-field-file {
        width: 53%;
    }
    .cv-nav-label {
        display: none;
        font-weight: 400;
        font-size: 15px;
        padding-left: 5px !important;
    }
    .cv-navs-wrapper ul {
        text-align: center;
    }
    .cv-navs-wrapper ul li {
        display: inline-block;
    }
    .cv-navs-wrapper ul li a {
        text-align: center;
        padding: 10px;
    }
    .cv-sticky-controls {
        width: 100%;
        text-align: center;
    }
    .cv-field-wrap input.button.cv-browse {
        padding: 0 12px;
    }
    .cv-sidebar-wrapper {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .cv-sections-wrapper {
        margin-left: 20px;
    }
    .cv-label-wrap {
        width: 25%;
    }
    .cv-field-wrap {
        padding: 15px 10px;
        width: 67% !important;
    }
    .cv-field-wrap .cv-field-file {
        width: 65%;
    }
    .cv-nav-label {
        display: none;
        font-weight: 400;
        font-size: 15px;
    }
    .cv-navs-wrapper {
    }
    .cv-field-wrap input.button.cv-browse {
        padding: 0 10px;
    }
    .cv-sticky-controls .button-primary {
        padding: 4px 20px;
    }
}
@media only screen and (min-width: 900px) {
    .cv-sticky-controls {
        left: 160px;
        width: calc(100% - 160px);
        position: fixed;
        text-align: center;
    }
}
@media only screen and (min-width: 1200px) {
    .cv-sections-wrapper {
    }
    .cv-field-wrap .cv-field-file {
        width: 80%;
    }
    .cv-nav-label {
        display: unset;
        font-weight: 400;
        font-size: 15px;
    }
    .cv-navs-wrapper {
    }
    .cv-navs-wrapper ul li a {
        text-align: left;
        padding: 15px 12px;
    }
    .cv-field-wrap input.button.cv-browse {
        padding: 0 16px;
    }
    .cv-sidebar-wrapper {
        display: block;
    }
    .cv-sticky-controls .button-primary {
        padding: 8px 20px;
    }
}
@media only screen and (min-width: 1367px) {
    .cv-navs-wrapper {
    }
    .cv-field-wrap input.button.cv-browse {
        padding: 0 40px;
    }
}